:root {
    --clr-neon: rgb(255, 255, 255);
    --clr-border: rgba(202, 10, 192, 0.856);
    --clr-border-light: rgba(195, 52, 214, 0.856);
    --clr-bg: hsl(323 21% 16%);
    --font-size: 3rem;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
}

.neon-pink {
    color: var(--clr-neon);
    font-size: var(--font-size);
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: var(--clr-border) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 1em;
    text-shadow: 
    0 0 .05em #FFF7,
    0 0 .30em var(--clr-neon);
    box-shadow:
    inset 0 0 .5em var(--clr-border),
          0 0 .5em var(--clr-border);
}

/* shadow below the title
.neon::before {
    content: "";
    position: absolute;
    top: 220%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-neon);
    border: var(--clr-border) 0.35em solid;
    transform:
        perspective(0.2em)
        rotateX(10deg)
        scale(1.3, 0.40);
    filter: blur(0.5em);
    opacity: 0.6;
    transition: opacity 100ms linear;
    pointer-events: none;
} */

.neon-pink::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--clr-border);
    box-shadow: 0 0 2em var(--clr-border);
    z-index: -1;
    opacity: 0;
}

.neon-pink:hover::after {
    opacity: 0.5;
}

.neon-pink:hover {
    color: var(--clr-neon);
    text-shadow: 
    0 0 .30em var(--clr-neon);

    box-shadow:
    inset 0 0 .5em var(--clr-border-light),
          0 0 .5em var(--clr-border-light);
}

.neon-pink:hover::before {
    opacity: 1;
    background: var(--clr-border);
}
