.versus-title {
  font-size: 5em;
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 5em;
  font-family: monospace;
  letter-spacing: 5px;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.player-title {
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  letter-spacing: 5px;
}

.classic {
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  letter-spacing: 5px;
}

.nice {
  text-align: center;
  text-decoration: underline;
  font-size: 3em;
  font-weight: 700;
  font-family: monospace;
  letter-spacing: 5px;
}

.lose_text_animated {
  background: linear-gradient(to right, #ed6060, #f1421f, #fa0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.win_text_animated {
  background: linear-gradient(to right, #7ee36c, #3bec32, #00fa2e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
